@model MVCMusic.ViewModels.ArtistsViewModel

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align: center">Artists</h1>

<p style="text-align: center">
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Artists" asp-action="Index" method="get">
    <p style="text-align: center">
        <input style="width: 40%; margin: 5px; padding: 5px" type="text" asp-for="SearchName" placeholder="First name" />
        <input style="width: 40%; margin: 5px; padding: 5px" type="text" asp-for="SearchSurname" placeholder="Last name" />
        <input style="padding: 5px; border-radius:5px" type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Artists[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artists[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artists[0].BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artists[0].Age)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Artists)
        {
            var photoPath = "~/profilepictures/" + (item.ProfilePicture ?? "blank.png");
            <tr>
                <td>
                    <img src="@photoPath"
                         class="rounded-circle"
                         height="40" width="40"
                         asp-append-version="true" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
</table>
